<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>The World - @ViewBag.Title</title>
</head>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/yeti/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="~/css/site.css">

<body>
    <div id="sidebar">
        <img src="http://lorempixel.com/150/200/people" alt="headshot" class="headshot">
        <span id="username">John Doe</span>
        <ul class="nav">
            <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
            <li><a asp-controller="App" asp-action="About">About</a></li>
            <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
        </ul>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                         <button id="sidebarToggle" class="btn btn-primary">
                            <i class="fa fa-angle-left"></i>
                        </button>   
                    </li>
                </ul>
                
                <a asp-controller="App" asp-action="Index" class="navbar-brand">The World</a>
                
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-save"></i> Save
                        </a>
                    </li>
                    <li>
                        <a href="#" class="btn btn-sm btn-info">
                            <i class="fa fa-print"></i> Print
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div id="main" class="container-fluid">            
            <div>
                @RenderBody()
            </div>
        </div>

        <div id="footer">
            <div class="navbar navbar-inverse navbar-fixed-bottom">
                <h4 class="text-center text-info" class="container-fluid">
                    &copy; 2015 The World Ltd.
                </h4>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.js"></script>
    
    @RenderSection("Scripts", false)
</body>

</html>