@{
    ViewBag.Title = "Home Page";
}
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.24/gmaps.min.js"></script>
    <script src="~/js/vendor/travelmap.min.js"></script>
    
    <environment names="Development">
        <script src="~/js/simpleControls.js"></script>
        <script src="~/js/app-trips.js"></script>
        <script src="~/js/tripsController.js"></script>
        <script src="~/js/tripEditorController.js"></script>
    </environment>
    
    <environment names="Production">
        <script src="~/lib/simpleControls.js"></script>
        <script src="~/lib/app-trips.js"></script>
        <script src="~/lib/tripsController.js"></script>
        <script src="~/lib/tripEditorController.js"></script>
    </environment>
}
<div class="row" ng-app="app-trips">
    <div ng-view></div>
</div>