/* site.css */

.headshot {
    max-width: 50px;
    border: 1px solid #222;
    padding: 3px;
}

.menu {
    font-size: 12px;
}

.menu li {
    list-style-type:  none;
}

.menu li.active {
    font-weight: bold;
}

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 250px;
    overflow: hidden;
    left: 0;
    margin: 0;
    transition: left ease .25s;
}

#sidebar.hide-sidebar {
    left: -250px;
    transition: left ease .25s;
}

#wrapper {
    margin: 0 0 0 250px;
    transition: margin-left ease .25s;
}

#wrapper.hide-sidebar {
    margin-left: 0;
    transition: margin-left ease .25s;
}
